<div class="container-fluid background">
    <div class="row p-5" style="text-align:left">
      <div class="col-md-12">
        <form #createIssueForm="ngForm" class="form" (ngSubmit)="createIssue()">
          <div class="form-group">
            <label style="font-size: 25px; font-style: bold">Title</label>
            <input type="text" name="issueTitle" [(ngModel)]="issueTitle" #title="ngModel" class="form-control"
              placeholder="Enter issue Title" required>
          </div>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Title is required
          </div>
          <div class="form-group">
            <label style="font-size: 25px; font-style: bold">Description</label>
            <app-ngx-editor #title="ngModel" [placeholder]="'Enter text here...'" [spellcheck]="true" [(ngModel)]="description"
              name="description" required></app-ngx-editor>
          </div>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Description is Must
          </div>
          <div class="form-group">
            <label style="font-size: 25px; font-style: bold">Status</label>
            <select [(ngModel)]="issueStatus" #category="ngModel" name="issueStatus" class="form-control" id="Status"
              required>
              <option *ngFor="let status of allStatus" [value]="status">{{status}}</option>
            </select>
          </div>
          <div class="form-group">
            <label style="font-size: 25px; font-style: bold">Assign To</label>
            <select [(ngModel)]="assignedToId" #category="ngModel" name="assginedToId" class="form-control" id="Assgin"
              required>
              <option *ngFor="let name of allUsers" [value]="name.userId">{{name.firstName}} {{name.lastName}}</option>
            </select>
          </div>
          <div [hidden]="title.valid || title.pristine" class="alert alert-danger">
            Please assign it
          </div>
          <div class="form-group" action="/api/upload" method="POST" enctype="multipart/form-data" style="margin-bottom: 20px; height: auto;">
            <label style="font-size: 25px; font-style: bold">Attachments</label>
            <br>
            <a *ngFor="let name of fileName; let i = index" (click)="download(i)" style="cursor: pointer; color: blue"><i class="fas fa-paperclip" ></i> {{name}}
              <br></a>
              <hr>
            <div class="custom-file mb-3">
              <input type="file" name="file" id="file" class="custom-file-input" multiple ng2FileSelect [uploader]="uploader">
              <label for="file" class="custom-file-label">Choose File</label>
              <div class="uploadList" *ngFor="let item of uploader.queue">
                <div class="col" style="padding: 5px">{{item.file.name}}</div>
                <div class="col-sm-4" style="padding: 5px">
                  <div class="progress">
                    <div class="progress-bar bg-success" [ngStyle]="{'width': item.progress+'%'}"></div>
                  </div>
                </div>
                <div>
                  <button style="margin:20px" type="button" class="btn btn-dark" (click)="item.upload()">Upload</button>
                  <button  type="button" class="btn btn-danger" (click)="item.remove()">Cancel</button>
                </div>
              </div>
            </div>
          </div>
          <div style="display: flex; justify-content: space-between">
            <button type="submit" class="btn btn-danger btn-lg" [routerLink]="['/dashboard']"><i class="fas fa-times"></i> Cancel</button>
            <button type="submit" class="btn btn-success btn-lg" [disabled]="!createIssueForm.form.valid">Post
              <i class="fas fa-arrow-circle-right"></i></button>
          </div>
        </form>
      </div>
    </div>
  </div>