<div  class="background">
  <nav class="navbar navbar-expand-md navbar-dark">
    <a style="font-size:2.5em; color: white" class="navbar-brand" href="/">Issue-Tracker</a>
    <button class="btn btn-outline-light btn-lg" (click)="goToSignIn()" style="cursor: pointer;">Sign-In</button>
  </nav>
  
  <div class="row p-0 m-0">
  
    <div class="col-sm"></div>
  
    <div class="col-sm p-5">
  
      <h2 class="form-signin-heading" style="color: white">Sign Up To Track your Issue</h2>
  
      <br>
  
      <span style="color: white">FirstName: </span>
  
      <label for="inputFirstName" class="sr-only">FirstName</label>
  
      <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="firstName" placeholder="FirstName" required autofocus>
  
      <br>
  
      <span style="color: white">LastName: </span>
  
      <label for="inputLastName" class="sr-only">LastName</label>
  
      <input type="text" id="inputLastName" class="form-control" [(ngModel)]="lastName" placeholder="LastName" required>
  
      <br>
  
      <span style="color: white">Mobile: </span>
  
      <label for="inputMobile" class="sr-only">Mobile</label>
  
      <input type="number" id="inputMobile" class="form-control" [(ngModel)]="mobile" placeholder="Mobile" required>
  
      <br>
  
      <span style="color: white">Email: </span>
  
      <label for="inputEmail" class="sr-only">Email address</label>
  
      <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required>
  
      <br>
  
      <span style="color: white">Password: </span>
  
      <label for="inputPassword" class="sr-only">Password</label>
  
      <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>
      <br>
  
      <button class="btn btn-lg btn-outline-light btn-block" type="button" (click)="signupFunction()">Sign Up</button>
  
    </div>
  
    <div class="col-sm"></div>
  
  </div>
  </div>
  
  